.input-wrap {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  object-fit: contain;
  pointer-events: none;
}

.input {
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;
}
